@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.pass {
  background-image: url(./images/bgimg.jpg);
  backdrop-filter: 8px;
}
.dot {
  position: absolute;
  width: 30rem;
  transform: translate(0, 35%);
  bottom: 0;
  left: 0;
}

.map {
  margin: 5rem auto;
}

.inputs {
  border-radius: 10px;
  border: 2px solid violet;
  margin: 2rem 4rem;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}
