* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.first-Page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.title {
  font-size: 60px;
  color: rgb(105, 51, 206);
}

.btn {
  border: none;
  padding: 10px 30px;
  background-color: rgb(105, 51, 206);
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.btn:hover {
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
}
.btn:active {
  box-shadow: inset 20px 20px 10px 10px rgba(0, 0, 0, 0.2);
}

.quiz-page {
  width: 85vw;
  margin: auto;
}

.quiz-div {
  margin: 20px auto;
}

.question {
  margin: 10px;
  color: #293264;
}

.answer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.answer {
  padding: 10px 20px;
  /* background-color: yellow; */
  border: 2px solid #293264;
  color: #293264;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.answer:hover {
  background-color: #d6dbf5;
}
.answer:active {
  background-color: #d6dbf5;
  box-shadow: inset 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.green {
  background-color: #94d7a2;
  font-weight: bold;
}

.red {
  background-color: #f8bcbc;
  font-weight: bold;
}
